[submodule "GuicedHazelcast"]
	path = GuicedHazelcast
	url = https://github.com/GedMarc/GuicedHazelcast.git
[submodule "GuicedHazelcastHibernate"]
	path = GuicedHazelcastHibernate
	url = https://github.com/GedMarc/Guiced-Hazelcast-Hibernate.git
[submodule "GuiceInjection"]
	path = GuiceInjection
	url = https://github.com/GuicedEE/GuicedInjection.git
[submodule "GuicedPersistence"]
	path = GuicedPersistence
	url = https://github.com/GuicedEE/GuicedPersistence.git
[submodule "GuicedPersistenceC3P0"]
	path = GuicedPersistenceC3P0
	url = https://github.com/GedMarc/GuicedPersistence-C3P0.git
[submodule "GuicedRestServices"]
	path = GuicedRestServices
	url = https://github.com/GedMarc/GuicedRestServices.git
[submodule "GuicedServlets"]
	path = GuicedServlets
	url = https://github.com/GedMarc/GuicedServlets.git
[submodule "GuicedServletsRequestScoping"]
	path = GuicedServletsRequestScoping
	url = https://github.com/GedMarc/GuicedServletsRequestScoping.git
[submodule "GuicedSwagger"]
	path = GuicedSwagger
	url = https://github.com/GedMarc/GuicedSwagger.git
[submodule "GuicedSwaggerUI"]
	path = GuicedSwaggerUI
	url = https://github.com/GedMarc/Guiced-SwaggerUI.git
[submodule "GuicedUndertow"]
	path = GuicedUndertow
	url = https://github.com/GedMarc/Guiced-Undertow.git
[submodule "GuicedWebServices"]
	path = GuicedWebServices
	url = https://github.com/GedMarc/Guiced-WebServices.git
[submodule "GuicedWebSockets"]
	path = GuicedWebSockets
	url = https://github.com/GedMarc/Guiced-WebSockets.git
[submodule "GuicedVertx"]
	path = GuicedVertx
	url = https://github.com/GuicedEE/Guiced-Vert.x.git
[submodule "GuicedVertxSockets"]
	path = GuicedVertxSockets
	url = https://github.com/GuicedEE/GuicedVertxSockets.git
[submodule "GuicedVertxSessionPerTransaction"]
	path = GuicedVertxSessionPerTransaction
	url = https://github.com/GuicedEE/GuicedVertxSessionPerTransaction.git
[submodule "GuicedRabbit"]
	path = GuicedRabbit
	url = https://github.com/GuicedEE/GuicedRabbit.git
[submodule "GuicedCerial"]
	path = GuicedCerial
	url = https://github.com/GedMarc/GuicedCerial.git
