[submodule "GuicedJSF"]
	path = GuicedJSF
	url = https://github.com/GedMarc/Guiced-Servlets-JSF.git
[submodule "GuicedHazelcast"]
	path = GuicedHazelcast
	url = https://github.com/GedMarc/GuicedHazelcast.git
[submodule "GuicedHazelcastHibernate"]
	path = GuicedHazelcastHibernate
	url = https://github.com/GedMarc/Guiced-Hazelcast-Hibernate.git
[submodule "GuiceInjection"]
	path = GuiceInjection
	url = https://github.com/GedMarc/GuiceInjection.git
[submodule "GuicedPersistence"]
	path = GuicedPersistence
	url = https://github.com/GedMarc/GuicedPersistence.git
[submodule "GuicedPersistenceC3P0"]
	path = GuicedPersistenceC3P0
	url = https://github.com/GedMarc/GuicedPersistence-C3P0.git
[submodule "GuicedRestServices"]
	path = GuicedRestServices
	url = https://github.com/GedMarc/GuicedRestServices.git
[submodule "GuicedServlets"]
	path = GuicedServlets
	url = https://github.com/GedMarc/GuicedServlets.git
[submodule "GuicedServletsRequestScoping"]
	path = GuicedServletsRequestScoping
	url = https://github.com/GedMarc/GuicedServletsRequestScoping.git
[submodule "GuicedSwagger"]
	path = GuicedSwagger
	url = https://github.com/GedMarc/GuicedSwagger.git
[submodule "GuicedSwaggerUI"]
	path = GuicedSwaggerUI
	url = https://github.com/GedMarc/Guiced-SwaggerUI.git
[submodule "GuicedUndertow"]
	path = GuicedUndertow
	url = https://github.com/GedMarc/Guiced-Undertow.git
[submodule "GuicedWebServices"]
	path = GuicedWebServices
	url = https://github.com/GedMarc/Guiced-WebServices.git
[submodule "GuicedWebSockets"]
	path = GuicedWebSockets
	url = https://github.com/GedMarc/Guiced-WebSockets.git
[submodule "GuicedLogMaster"]
	path = GuicedLogMaster
	url = https://github.com/GedMarc/LogMaster.git
[submodule "GuicedPersistenceWildfly"]
	path = GuicedPersistenceWildfly
	url = https://github.com/GedMarc/GuicedPersistence-Wildfly.git
